@import "tailwindcss";

@theme {
  --font-sans: 'Neue Montreal', ui-sans-serif, system-ui, sans-serif;
  --font-display: 'Neue Machina', ui-sans-serif, system-ui, sans-serif;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/PPNeueMachina-InktrapVariable.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}